{% extends 'nba_stats/base.html' %}
{% load static %}

{% block title %}NBAPex | {{ team.city }} {{ team.name }}{% endblock %}

{% block content %}
    <div class="panel panel-team">
        <div class="row">
            <div class="col-md-4">
                <div class="panel-body panel-left">
                    <div>
                        <img src="{% static 'nba_stats/images/teams/' %}{{ team.team_id }}.svg" width="25%" height="25%" alt="Team Logo"/>
                    </div>
                    <div>
                        <h3>{{ team.city }} {{ team.name }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="text-align: center">About</h3>
                <b>City:</b> {{ team.city }}<br>
                <b>Name:</b> {{ team.name }}<br>
                <b>Conference:</b> {{ team.conference }}<br>
                <b>Division:</b> {{ team.divisiion }}<br>
                <b>Arena:</b> {{ team.arena }} <br>
                <b>Capacity:</b> {{ team.arena_capacity }}<br>
                <b>Owner:</b> {{ team.owner }}<br>
                <b>General Manager:</b> {{ team.general_manager }}<br>
                <b>Head Coach:</b> {{ team.head_coach }}<br>
                <b>D-League Affiliation:</b> {{ team.d_league_affiliation }}<br>
            </div>
            <div class="col-md-4">
                <h3 style="text-align: center">At a Glance</h3>
                <b>
                    {{ cur_season.pts }} pts<br>
                    {{ cur_season.reb }} reb<br>
                    {{ cur_season.ast }} ast<br>
                    {{ cur_season.blk }} blk<br>
                    {{ cur_season.stl }} stl<br>
                    {{ cur_season.tov }} tov<br>
                </b>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="seasonButtonClick();">Seasons</button>
                <button type="button" class="btn btn-default" onclick="splitButtonClick();">Splits</button>
            </div>
        </div>
        <div id="season_panel" class="panel-body collapse">
            <div id="season_per_mode_select_div">
                <select id="season_per_mode_select" onchange="seasonType();" class="form-control">
                    <option value="per_game">PerGame</option>
                    <option value="totals">Totals</option>
                </select>
                <select id="season_type_select" onchange="seasonType()" class="form-control">
                    <option value="regular_season">Regular</option>
                    <option value="playoffs">Playoffs</option>
                </select>
            </div>
            <table id="regular_season_per_game_table" class="table table-striped collapse">
                <thead>
                    <tr>
                        {% for hdr in headers %}
                            <th>{{ hdr }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for season in regular_season_pg %}
                        <tr>
                            {% for val in season %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="regular_season_totals_table" class="table table-striped collapse">
                <thead>
                    <tr>
                        {% for hdr in headers %}
                            <th>{{ hdr }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for season in regular_season_totals %}
                        <tr>
                            {% for val in season %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="playoffs_per_game_table" class="table table-striped collapse">
                <thead>
                    <tr>
                        {% for hdr in headers %}
                            <th>{{ hdr }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for season in playoff_pg %}
                        <tr>
                            {% for val in season %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="playoffs_totals_table" class="table table-striped collapse">
                <thead>
                    <tr>
                        {% for hdr in headers %}
                            <th>{{ hdr }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for season in playoff_totals %}
                        <tr>
                            {% for val in season %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div id="split_panel" class="panel-body collapse">
            <div id="split_selection_div"></div>
            <div id="split_data_div"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var teamJSON = '{{ team_json|escapejs }}';
        var entityObj = JSON.parse(teamJSON);
        var model = 'team';
    </script>
    <script src="{% static 'nba_stats/js/player.js' %}"></script>
{% endblock %}